@model IEnumerable<SkillProfiWebApplication.Data.Project>

@{
    ViewData["Title"] = "Projects";
}

<link rel="stylesheet" href="~/css/Projects.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />

<h2>Проекты</h2>
<a class="add-project" asp-controller="Admin" asp-action="AddProject" method="get">Добавить проект</a>
<div class="card-container">
    @foreach (var project in Model)
    {
        <div class="maincard">
        <div class="card">
            <img class="card-image" src="~/images/@project.ProjectImage" alt="@project.ProjectTitle" />
            <div class="card-title-container">
                <a class="card-title" asp-controller="Home" asp-action="ProjectDetails" asp-route-id="@project.Id">@project.ProjectTitle</a>
            </div>
        </div>
        <div class="card-actions">
            <a asp-controller="Admin" asp-action="EditProject" asp-route-id="@project.Id"><i class="fas fa-pencil-alt" title="Редактировать"></i></a>
            <a asp-controller="Admin" asp-action="DeleteProject" asp-route-id="@project.Id"><i class="fas fa-trash" title="Удалить"></i></a>
        </div>
        </div>
    }
</div>

