@model SkillProfiWebApplication.ViewModels.IndexPageModel
@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/Index.css" />

<div class="image-container">
    <img src="~/images/IndexImage3.jpg" alt="Описание изображения" />
    <div class="overlay1">
        <label asp-for="@Model.MainPageCaption">@Model.MainPageCaption</label>
    </div>
    <div class="overlay2">
        <label asp-for="@Model.RequestLabel">@Model.RequestLabel</label>
    </div>
</div>

<div class="form-container">
    <label asp-for="@Model.RequestFormsLabel">@Model.RequestFormsLabel</label>
    <form action="/Home/AddRequest" method="post">
        <div class="form-field">
            <label for="name">Имя:</label>
            <input type="text" id="name" name="RequestFormName" required>
        </div>
        <div class="form-field">
            <label for="email">Email:</label>
            <input type="email" id="email" name="RequestFormEmail" required>
        </div>
        <div class="form-field">
            <label for="message">Сообщение:</label>
            <textarea id="message" rows="3" name="RequestFormMessage" required></textarea>
        </div>
        <button type="submit">Отправить</button>
    </form>
</div>
